html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
.header-main {
  width: 100%;
  /* position: sticky; */
  /* top: 1rem; */
  /* background-color: sandybrown; */
  background-color: #9a4d79;
}

.nav-header,
.ul-nav {
  margin: 0;
  padding: 0;
}

.ul-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.list-item {
  padding: 1rem;
}

.link-item {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.hero-image {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/images/logo.png");
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.blur-like {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.4);
}

h1 {
  font-size: 15vw;
  color: #fff;
  text-align: center;
}


.first-section,
.second-section{
  display: flex;
  flex-flow: column nowrap;
  padding: 0.5rem;
}

.second-section{
  padding-bottom: 0;
}
.title-text{
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

.sections img {
  border-radius: 5px;
}

.icon-up {
  color: rgb(255, 117, 221);
  color: #984284;
  color: #333;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0.5rem 0.5rem 0 ;
  font-size: 2rem;
}

.bold-span{
  font-weight: bold;
}

.text-main p{
  margin-right: auto;

}

.text-main ol{
  margin-right: auto;
  text-align: left;
  margin-top: 0;
  padding: 0;
  list-style-position: inside;
}
@media screen and (min-width: 1020px) {
  .icon-up{
    font-size: 3rem;
  }
  .ul-nav{
    justify-content: flex-start;
  }
  .link-item:hover{
    text-decoration: underline;
  }

  .hero-image{
    background-size: cover;
  }
  h1{
    font-size: 10vw;
  }

  .sections{
    margin-top: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* padding: 1rem; */
  }

  .first-section{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    padding: 1.5rem;
    padding-bottom: 0;
    font-size: 1.2rem;

  }
  
  .img-main{
    display: flex;
    justify-content: center;
    flex: 0 0 50%;
  }
  .img-main img{
    width:  100%;
    height: 100%;
  }

  .second-section{
    display: flex;
    flex-flow: row-reverse nowrap;
    width: 100%;
    justify-content: space-around;
    padding: 1rem;
    padding-bottom: 0;
    margin-top: 0;
    font-size: 1.2rem;
  }

  .second-section-1{
    display: flex;
    flex-flow: column nowrap;
    padding: 1.5rem;
    padding-top: 0;
  }

  .text-main{
    padding: 1rem;
    margin-right: 1rem;

  }

  
  .text-main p{
    text-align: justify;
  }

  
  .title-text{
    text-align: right;
  }
  
  .title-text-left{
    text-align-last: left;
  }
  .img-main-2{
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    align-items: center;
    flex: 0 0 50%;
  }


  .text-main-right{
    align-items: center;
  }
  .text-main-left{
    align-items: center;
  }


}
